In [265]:
import requests # library for making HTTP requests
import pandas as pd # library for data analysis
import datetime as dt # library for handling date and time objects

In [269]:
# Define the API key
api_key = 'ed5aeebe-3bd2-4a32-b00d-de83a9cf113d'

# Define the DMI URL for climate data (monthly mean temperature for Denmark, march 2018 to august 2023)
DMI_URL = 'https://dmigw.govcloud.dk/v2/climateData/collections/countryValue/items?datetime=2018-02-12T00%3A00%3A00Z%2F..&parameterId=mean_temp&sortorder=from%2CDESC&timeResolution=month&bbox-crs=https%3A%2F%2Fwww.opengis.net%2Fdef%2Fcrs%2FOGC%2F1.3%2FCRS84'

# Define the parameters for the request, including the API key
params = {
    'api-key': api_key,
    # Other parameters if necessary
}

# Make a GET request to the DMI URL with the specified parameters
r = requests.get(DMI_URL, params=params)

# Print the response status
print(r)

# Parse the JSON response
json_data = r.json()

# Print the keys of the JSON object to explore its structure
print(json_data.keys())

<Response [200]>
dict_keys(['type', 'features', 'timeStamp', 'numberReturned', 'links'])

In [271]:
# Convert JSON object to a Pandas DataFrame
df = pd.json_normalize(json_data['features'])
df = df[["properties.from", "properties.to", "properties.value"]]

# Extract the date part (up to the 'T') from the "properties.from" and "properties.to" columns
df['properties.from'] = df['properties.from'].str[:10]
df['properties.to'] = df['properties.to'].str[:10]

# Print the DataFrame
df

   properties.from properties.to  properties.value
0       2023-08-01    2023-09-01              15.1
1       2023-07-01    2023-08-01              15.9
2       2023-06-01    2023-07-01              16.4
3       2023-05-01    2023-06-01              11.2
4       2023-04-01    2023-05-01               7.0
..             ...           ...               ...
61      2018-07-01    2018-08-01              19.2
62      2018-06-01    2018-07-01              16.5
63      2018-05-01    2018-06-01              15.0
64      2018-04-01    2018-05-01               8.4
65      2018-03-01    2018-04-01               0.3

[66 rows x 3 columns]

In [272]:
# Define the API key
api_key = 'ed5aeebe-3bd2-4a32-b00d-de83a9cf113d'

# Define the DMI URL for climate data (monthly mean temperature for Denmark, march 2018 to august 2023)
DMI_URL = 'https://dmigw.govcloud.dk/v2/climateData/collections/countryValue/items?datetime=..%2F2018-03-18T12%3A31%3A12Z&parameterId=mean_temp&sortorder=from%2CDESC&timeResolution=month&bbox-crs=https%3A%2F%2Fwww.opengis.net%2Fdef%2Fcrs%2FOGC%2F1.3%2FCRS84'

# Define the parameters for the request, including the API key
params = {
    'api-key': api_key,
    # Other parameters if necessary
}

# Make a GET request to the DMI URL with the specified parameters
r = requests.get(DMI_URL, params=params)

# Print the response status
print(r)

# Parse the JSON response
json_data = r.json()

# Print the keys of the JSON object to explore its structure
print(json_data.keys())

<Response [200]>
dict_keys(['type', 'features', 'timeStamp', 'numberReturned', 'links'])

In [273]:
# Convert JSON object to a Pandas DataFrame
df = pd.json_normalize(json_data['features'])
df = df[["properties.from", "properties.to", "properties.value"]]

# Extract the date part (up to the 'T') from the "properties.from" and "properties.to" columns
df['properties.from'] = df['properties.from'].str[:10]
df['properties.to'] = df['properties.to'].str[:10]

# Print the DataFrame
df

   properties.from properties.to  properties.value
0       2018-03-01    2018-04-01               0.3
1       2018-02-01    2018-03-01              -0.7
2       2018-01-01    2018-02-01               2.3
3       2017-12-01    2018-01-01               3.7
4       2017-11-01    2017-12-01               5.6
..             ...           ...               ...
82      2011-05-01    2011-06-01              11.3
83      2011-04-01    2011-05-01               9.9
84      2011-03-01    2011-04-01               3.0
85      2011-02-01    2011-03-01              -0.1
86      2011-01-01    2011-02-01               0.3

[87 rows x 3 columns]