## Merging news data with daily weather data

In [14]:
import pandas as pd  # Library for data manipulation and analysis

# Load the cleaned news data and the daily weather data 
news_df = pd.read_csv('News_data.csv')
weather_daily_df = pd.read_csv('weather_data_daily.csv')

In [15]:
# Displaying the "news_df" DataFrame to review its contents.
news_df

            Date    month  article count
0     2011-01-02  2011-01              1
1     2011-01-03  2011-01              2
2     2011-01-04  2011-01              2
3     2011-01-05  2011-01              2
4     2011-01-06  2011-01              2
...          ...      ...            ...
3607  2023-08-10  2023-08              2
3608  2023-08-11  2023-08              5
3609  2023-08-12  2023-08              3
3610  2023-08-13  2023-08              2
3611  2023-08-14  2023-08              3

[3612 rows x 3 columns]

In [16]:
weather_daily_df

,date,mean_temp,mean_wind_speed,acc_precip,mean_temp_deviation,mean_wind_speed_deviation,acc_precip_deviation
0,2011-01-01,2.2,7.8,0.5,-0.6,2.5,-1.7
1,2011-01-02,-1.8,2.7,0.0,-4.6,-2.6,-2.2
2,2011-01-03,-3.7,2.3,0.2,-6.5,-3.0,-2.0
3,2011-01-04,-0.3,5.3,2.1,-3.1,-0.0,-0.1
4,2011-01-05,-1.2,6.6,1.4,-4.0,1.3,-0.8
...,...,...,...,...,...,...,...
4604,2022-12-27,4.7,5.4,2.9,0.2,0.1,0.3
4605,2022-12-28,7.4,6.3,13.9,2.9,1.0,11.3
4606,2022-12-29,8.7,7.7,5.6,4.2,2.4,3.0
4607,2022-12-30,8.2,7.8,3.2,3.7,2.5,0.6
4608,2022-12-31,9.3,5.3,6.3,4.8,-0.0,3.7

In [17]:
# Merge the weather data (`weather_daily_df`) with the news data (`news_df`) using the 'date' column from `weather_daily_df` and 'Date' column from `news_df`
merged_daily_df = weather_daily_df.merge(news_df[['Date', 'article count']], left_on='date', right_on='Date', how='left')

# Drop the 'Date' column from `news_df` as it's redundant now
merged_daily_df.drop(columns='Date', inplace=True)

# Fill any NaN values in the 'article count' column with 0 and convert to integer
merged_daily_df['article count'] = merged_daily_df['article count'].fillna(0).astype(int)

# Save the merged dataframe to a CSV file
merged_daily_df.to_csv('Final_daily_data.csv', index=False)

# Display the merged DataFrame
merged_daily_df

,date,mean_temp,mean_wind_speed,acc_precip,mean_temp_deviation,mean_wind_speed_deviation,acc_precip_deviation,article count
0,2011-01-01,2.2,7.8,0.5,-0.6,2.5,-1.7,0
1,2011-01-02,-1.8,2.7,0.0,-4.6,-2.6,-2.2,1
2,2011-01-03,-3.7,2.3,0.2,-6.5,-3.0,-2.0,2
3,2011-01-04,-0.3,5.3,2.1,-3.1,-0.0,-0.1,2
4,2011-01-05,-1.2,6.6,1.4,-4.0,1.3,-0.8,2
...,...,...,...,...,...,...,...,...
4604,2022-12-27,4.7,5.4,2.9,0.2,0.1,0.3,1
4605,2022-12-28,7.4,6.3,13.9,2.9,1.0,11.3,2
4606,2022-12-29,8.7,7.7,5.6,4.2,2.4,3.0,1
4607,2022-12-30,8.2,7.8,3.2,3.7,2.5,0.6,2
4608,2022-12-31,9.3,5.3,6.3,4.8,-0.0,3.7,3

## Visualization