In [17]:
import requests # library for making HTTP requests
import pandas as pd # library for data analysis
import datetime as dt # library for handling date and time objects

In [18]:
api_key = 'd4674009-58d0-466e-8687-7fb33cbc9a09' # insert your own key between the '' signs

In [19]:
DMI_URL = 'https://dmigw.govcloud.dk/v2/metObs/collections/observation/items'
r = requests.get(DMI_URL, params={'api-key': api_key}) # Issues a HTTP GET request
print(r)

<Response [200]>

In [20]:
json = r.json()  # Extract JSON data
print(json.keys())  # Print the keys of the JSON dictionary

dict_keys(['type', 'features', 'timeStamp', 'numberReturned', 'links'])

In [21]:
json['features'][:2]

[{'geometry': {'coordinates': [8.0828, 55.5575], 'type': 'Point'},
  'id': '00000001-30ad-ae74-5b33-7ef0a1a6ef92',
  'type': 'Feature',
  'properties': {'created': '2023-01-27T02:22:21.068515Z',
   'observed': '2015-09-11T10:10:00Z',
   'parameterId': 'temp_dew',
   'stationId': '06081',
   'value': 11.4}},
 {'geometry': {'coordinates': [11.3879, 55.3224], 'type': 'Point'},
  'id': '00000005-79f9-4ab8-6905-bec39ce37f54',
  'type': 'Feature',
  'properties': {'created': '2023-01-26T12:15:14.224544Z',
   'observed': '2010-08-10T03:30:00Z',
   'parameterId': 'humidity',
   'stationId': '06135',
   'value': 100.0}}]

In [24]:
df = pd.json_normalize(json['features'])  # Convert JSON object to a Pandas DataFrame
df.head()  # Print the first five rows of the DataFrame

,id,type,geometry.coordinates,geometry.type,properties.created,properties.observed,properties.parameterId,properties.stationId,properties.value,geometry
0,00000001-30ad-ae74-5b33-7ef0a1a6ef92,Feature,"[8.0828, 55.5575]",Point,2023-01-27T02:22:21.068515Z,2015-09-11T10:10:00Z,temp_dew,06081,11.4,NaN
1,00000005-79f9-4ab8-6905-bec39ce37f54,Feature,"[11.3879, 55.3224]",Point,2023-01-26T12:15:14.224544Z,2010-08-10T03:30:00Z,humidity,06135,100.0,NaN
2,00000006-ffbe-6f2f-fe2a-4ed40a6fa65a,Feature,NaN,NaN,2023-01-27T07:26:00.823125Z,1960-12-16T06:00:00Z,cloud_cover,06190,100.0,NaN
3,0000000e-638e-5ce8-2dab-0a16387eb3e9,Feature,"[8.6705, 56.383]",Point,2023-01-26T22:27:00.328184Z,2005-08-22T06:00:00Z,temp_max_past12h,06056,16.6,NaN
4,0000000e-fa0d-c953-0901-0856867a22bb,Feature,"[11.6035, 55.7358]",Point,2023-01-26T13:25:14.679006Z,2014-04-08T17:10:00Z,pressure_at_sea,06156,1006.3,NaN

In [25]:
df.shape[0]

1000